.root {
    width: 100%;
    user-select: none;
    gap: 0.5rem;
}

.headerRow {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.5rem;
    width: 100%;
}

.headerInner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}

.controls {
    display: none;
    flex-direction: row;
    justify-content: flex-end;
    gap: 0.5rem;

    @media (min-width: 768px) {
        display: flex;
    }
}

.carousel {
    overflow: hidden;
    margin: 0.5rem 0;
}

.track {
    display: flex;
}

.slide {
    flex: 0 0 170px;
    min-width: 0;
    height: auto;
    padding: 0.375rem;
    border-radius: 0.375rem;
    transition: all 0.2s ease-in-out;

    @media (min-width: 768px) {
        flex: 0 0 200px;
    }

    &:hover {
        background: var(--ui-greys-grey0);
    }

    :global(.album-link) {
        margin-right: 4px;

        &:hover {
            text-decoration: underline;
        }
    }
}