.layout__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;

    &__input {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__empty_content {
        display: flex;
        align-items: center;
        text-align: center;
        flex-direction: column;
        justify-content: center;
    }
}

.search {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__grid__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;

        // sm: 640px
        @media (min-width: 640px) {
            grid-template-columns: repeat(3, 1fr);
        }

        // md: 769px
        @media (min-width: 769px) {
            grid-template-columns: repeat(3, 1fr);
        }

        // lg: 1024px
        @media (min-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }

        // xl: 1280px
        @media (min-width: 1280px) {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}