.search {
    display: flex;
    flex-direction: column;

    &__grid__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;

        // sm: 640px
        @media (min-width: 640px) {
            grid-template-columns: repeat(3, 1fr);
        }

        // md: 769px
        @media (min-width: 769px) {
            grid-template-columns: repeat(3, 1fr);
        }

        // lg: 1024px
        @media (min-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }

        // xl: 1280px
        @media (min-width: 1280px) {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}