.header {
    width: 100%;
    position: sticky;

    &__container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__right_side {
        display: flex;
        align-items: center;
        justify-content: right;
    }

    &__left_side {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 0.5rem;
    }

    &__image {
        border: 1rem solid;
    }
}