.card {
    width: 100%;
    aspect-ratio: 1 / 1.4;
    position: relative;
    overflow: hidden;
    border-radius: 0.375rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0.5rem;
    z-index: 10;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 -50px 80px rgba(0, 0, 0, 1);
    transition: all 0.3s ease;
    flex-direction: column;

    &:hover {
        filter: brightness(0.7);
    }

    &__title {
        font-weight: 800;
        color: white;
    }

    &__description__content {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 0.5rem;
    }

    &__description {
        font-weight: 600;
    }

    &__rating {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
        display: flex;
        align-items: center;
    }
}