.anime__info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 0.5rem;

    @media (min-width: 640px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 768px) {
        grid-template-columns: repeat(3, 1fr);
    }
}