.container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.top {
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
}

.links {
    display: flex;
    align-items: center;
}

.bottom {
    display: flex;
    gap: 0.25rem;
    align-items: center;
    justify-content: space-between;
}

.meta {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

.socials {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}