.card__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__grid__content {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0.5rem;

        // sm: 640px
        @media (min-width: 640px) {
            grid-template-columns: repeat(3, 1fr);
        }

        // md: 769px
        @media (min-width: 769px) {
            grid-template-columns: repeat(4, 1fr);
        }

        // lg: 1024px
        @media (min-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }

        // xl: 1280px
        @media (min-width: 1280px) {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    &__grid__long {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.5rem;

        @media (min-width: 640px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 768px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 1024px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }

}

.layout__content {
    position: relative;
    height: auto;
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}