.main__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;
    gap: 1rem;
}

.second__main__content {
    display: flex;
    gap: 1rem;

    &__article {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        overflow: hidden;
    }
}