.anime__content {
    display: flex;
    gap: 1rem;

    &__article {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;

        &_titles {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            gap: 0.5rem;
        }

        &_info_badge {
            display: flex;
            align-items: flex-center;
            justify-content: start;
            gap: 0.5rem;
        }
    }
}