.overview__content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.item {
    &__description_content {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}