.embla {
    max-width: 100%;
    margin: auto;
    --slide-height: 70vh;
    --slide-size: 100%;
}

.embla__viewport {
    overflow: hidden;
}

.embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
    margin-left: calc(var(--slide-spacing) * -1);
}

.embla__slide {
    transform: translate3d(0, 0, 0);
    flex: 0 0 var(--slide-size);
    min-width: 0;
    height: var(--slide-height);
    border: 1px solid;
    border-radius: 0.5rem;
}

.embla__controls {
    display: flex;
    gap: 1rem;
    justify-content: end;
}