.title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    &__with_icon {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 0.25rem;
    }

    &__content {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 0.25rem;
        flex-wrap: wrap;
    }
}